
.col-12.jumbotron.mb-3.team-heading {
    background-color: rgba(249, 165, 20, 0.998); 
}

h1, h2, h3 {
    color: white;
}

.card-header {
    background-color: rgb(173, 108, 233);

}

.card-body {
    background-color: rgb(243, 241, 241);
}

.card.employee-card {
    margin: 10px;
    box-shadow: 5px 4px 3px gray;
    
}
